* {margin: 0%;padding: 0%;
}

body {background-color:#f0edd8;
}


.one {font-family: "Yellowtail", cursive;
display: flex;
font-size: 270pt;
flex-direction: row;
text-align: center;
justify-content: center;
margin-top: -28%;
padding-right: 9%;

}


img {
    display: block;
    width: 50%;
    margin: auto;
    padding-top: 2%;
    padding-left: 0%;
}

.navbar {background-color: #a32714;
    margin-top: -2%;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: black;
}


li {font-family: "Oswald", sans-serif;
    color:#ffffff;
    display:inline;
   margin:9%;
   justify-content:space-evenly;
   font-size: 25pt;
   text-decoration: none
}


h1 {font-family: "Yellowtail", cursive;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-size: 85pt;
}

p {font-family: "Oswald", sans-serif;
    margin: 17pt;
    font-size: 20pt;

}
h2 {font-family: "Oswald", sans-serif;
    font-size: 45pt;
    margin: 10%;

}

h3 {font-family: "Oswald", sans-serif;
    margin: 10pt;
font-size:20pt ;
display: flex;
margin-left:25pt ;}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: normal;
    align-content: normal;
    font-family: "Oswald", sans-serif;
    font-size:20pt ;
    margin-left:25pt;
    padding-top: 3%;
    padding-bottom: 3%;

  }

  .flex-box {
    background-color: #f0edd8;
    width: 900px;
    height:400px ;
    text-align: center;
    line-height: 80px;
    box-shadow: 5px 3px 2px 0px rgba(190, 187, 171, 1),
            1px 6px 20px 14px rgba(151, 149, 136, 0.41);
            border-radius: 20px;
    padding-top: 0%;        
  }
 
  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }


